{{ 'footer.css' | asset_url | stylesheet_tag }}

<footer>
  <div class="footer-header flex items-center">
    <div class="">
      <p class="join-text">
        Join our KicksPlus <br>
        Club & get 15% off
      </p>
      <p class="sign-text">Sign up for free! Join the community.</p>
      <div class="email-container flex items-center">
        <input class="email-input" placeholder="Email Address">
        <button>SUBMIT</button>
      </div>
    </div>
    <div class="footer-header-logo-container flex justify-center items-center flex-1">
      <div>
        {% render 'icon-plus' %}
        <img loading="lazy" class="footer-header-logo" alt="logo-white" src="{{ "logo-white.png" | asset_url }}">
      </div>
    </div>
  </div>
  <div class="footer-footer">
    <div class="flex justify-between">
      <div class="flex flex-col footer-about">
        <p class="footer-list-header footer-about-us">About us</p>
        <p class="footer-desc">
          We are the biggest hyperstore in the universe. <br>
          We got you all cover with our exclusive <br>
          collections and latest drops.
        </p>
      </div>
      <div class="flex justify-between flex-1">
        <div class="flex flex-col">
          <p class="footer-list-header">Categories</p>
          <div class="footer-links flex flex-col">
            <a class="footer-desc" href="#">Runners</a>
            <a class="footer-desc" href="#">Sneakers</a>
            <a class="footer-desc" href="#">Basketball</a>
            <a class="footer-desc" href="#">Outdoor</a>
            <a class="footer-desc" href="#">Golf</a>
            <a class="footer-desc" href="#">Hiking</a>
          </div>
        </div>
        <div>
          <p class="footer-list-header">Company</p>
          <div class="footer-links flex flex-col">
            <a class="footer-desc" href="#">About</a>
            <a class="footer-desc" href="#">Contact</a>
            <a class="footer-desc" href="#">Blogs</a>
          </div>
        </div>
        <div>
          <p class="footer-list-header">Follow us</p>
          <div class="footer-socials flex items-center">
            {% render 'icon-facebook' %}
            {% render 'icon-instagram' %}
            {% render 'icon-twitter' %}
            {% render 'icon-tiktok' %}
          </div>
        </div>
      </div>
    </div>
    <img loading="lazy" class="footer-footer-logo" alt="logo-white" src="{{ "logo-white.png" | asset_url }}">
  </div>
</footer>
