{{ 'header.css' | asset_url | stylesheet_tag }}

<header class="flex items-center justify-between">
  <div class="flex">
    <p>New Drops 🔥</p>
    <div class="flex items-center cursor-pointer">
      <p>Men</p>
      {% render 'icon-caret-down' %}
    </div>
    <div class="flex items-center  cursor-pointer">
      <p>Women</p>
      {% render 'icon-caret-down' %}
    </div>
  </div>
  <div class="flex-1 flex items-center justify-center">

      <img src="{{ "logo-black.png" | asset_url }}" loading="lazy" alt="logo-black" class="logo">
  </div>
  <div class="flex items-center">
    {% render 'icon-search' %}
    {% render 'icon-user' %}
    <div class="cart-count flex items-center justify-center  cursor-pointer">
      <p>0</p>
    </div>
  </div>
</header>
