footer {
  background-color: #4a69e2;
  border-radius: 40px;
  position: relative;
}

.footer-header {
  padding: 64px 72px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
}

.join-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 48px;
  margin-bottom: 16px;
}

.sign-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #e7e7e3;
  font-size: 20px;
  margin-bottom: 32px;
}

.email-input {
  border: 1px solid white;
  font-family: 'Inter', sans-serif;
  color: #e7e7e3;
  border-radius: 8px;
  font-size: 16px;
  background-color: transparent;
  height: 48px;
  padding: 0 16px;
  width: 342px;
}

.email-container {
  gap: 4px;
}

.email-input::placeholder {
  color: #e7e7e3;
}

.email-container button {
  height: 48px;
  background-color: #232321;
  font-family: 'Rubik', sans-serif;
  border-radius: 8px;
  font-weight: 500;
  color: white;
  padding: 0 24px;
  outline: none;
  border: none;
}

.footer-header-logo {
  height: 88px;
  width: 100%;
}

.footer-header-logo-container > div {
  position: relative;
  width: 26.5%;
}

.footer-header-logo-container svg {
  position: absolute;
  top: -18px;
  right: -14px;
}

.footer-footer {
  background-color: #232321;
  padding: 29px;
  border-radius: 40px;
  /* padding-bottom: 490.66px; */
  position: relative;
  overflow: hidden;
}

.footer-footer-logo {
  width: 100%;
}
.footer-footer-logo-container {
  margin-top: 67px;
  height: 267px;

  padding: 0 29px;
  width: 100%;
  box-sizing: border-box;
}

.footer-list-header {
  font-family: 'Rubik', sans-serif;
  color: #ffa52f;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.footer-about-us {
  font-size: 36px;
  margin-bottom: 4px;
}

.footer-desc {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

.footer-links {
  gap: 8px;
}

.footer-about {
  margin-right: 122px;
}

.footer-socials {
  gap: 24px;
}

@media (max-width: 768px) {
  .footer-header {
    flex-direction: column-reverse;
    padding: 40px 24px;
    align-items: flex-start !important;
  }

  .join-text {
    font-size: 32px;
  }

  .sign-text {
    font-size: 18px;
  }

  .email-input {
    width: 100%;
    box-sizing: border-box;
  }

  .email-container {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
  }

  .footer-footer {
    padding: 24px;
  }

  .email-container button {
    width: 100%;
    margin-top: 16px;
  }

  .footer-info {
    flex-direction: column;
  }

  .footer-about {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .footer-about-break {
    display: none;
  }
  .footer-about-us {
    font-size: 24px !important;
  }

  .footer-header-logo {
    height: 88px;
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-header-logo-container > div {
    position: relative;
    width: 100%;
  }
  .footer-links {
    flex-direction: column;
    flex: 0;
  }

  .footer-desc {
    font-size: 16px;
  }

  .footer-list-header {
    font-size: 18px;
    margin-top: 24px;
  }

  .footer-footer-logo-container {
    margin-top: 67px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 0px !important;
  }
}
