.homepage {
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box !important;
  display: block;
  position: relative;
}

.title {
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
  font-size: 15.4vw;
  word-break: keep-all;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.banner-container {
  width: 100%;
  height: 750px;
  position: relative;
  display: flex;
  box-sizing: border-box !important;
}

.banner {
  width: 100%;
  height: 100%;
  border-radius: 64px;
  margin-bottom: 100px;
  position: relative;
  flex-shrink: 0;
}

.banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 64px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.banner-preview {
  width: 160px;
  height: 160px;
  border-radius: 32px;
  border: 4px solid white;
  object-fit: cover;
}

.banner-content {
  position: relative;
  z-index: 20 !important;
  padding-left: 48px;
  padding-right: 32px;
  width: 100%;
  height: 100%;
  box-sizing: border-box !important;
  padding-bottom: 32px;
}

.banner-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  border-radius: 64px;
  z-index: 10;
}

.banner-preview-container {
  gap: 16px;
}

.banner-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 74px;
  color: white;
}

.banner-desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: white;
}

.banner-info {
  padding-bottom: 16px;
}

.banner-info > button {
  height: 48px;
  width: 138px;
  background-color: #4a69e2;
  font-family: 'Rubik', sans-serif;
  border-radius: 8px;
  font-weight: 500;
  color: white;
  padding: 0 24px;
  outline: none;
  border: none;
  font-size: 14px;
  margin-top: 24px;
}

.banner-label {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 80px;
  background-color: #232321;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 24px;
  color: white;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  writing-mode: sideways-lr;
}

.banner-dots {
  background-color: #1a171752;
  padding: 10px 16px;
  border-radius: 8px;
  gap: 12px;
  width: fit-content;
  z-index: 30;
  position: absolute;
  bottom: 24px;
  left: calc(50% - 86px);
}

.banner-dot {
  background-color: #fefefe66;
  width: 10px;
  height: 10px;
  border-radius: 3px;
}

.banner-dot-active {
  background-color: white;
}

.latest {
  display: block;
  position: relative;
}

.latest-header {
  margin-bottom: 32px;
  margin-top: 100px;
}

.latest-header > p {
  font-size: 74px;
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
  color: #232321;
  text-transform: uppercase;
}

.latest-header > button {
  height: 48px;
  background-color: #4a69e2;
  font-family: 'Rubik', sans-serif;
  border-radius: 8px;
  font-weight: 500;
  color: white;
  padding: 0 24px;
  outline: none;
  border: none;
  font-size: 14px;
  margin-top: 24px;
}

.latest-kick-image-frame {
  position: relative;
  background-color: red;
  box-sizing: border-box !important;
}

.latest-kicks {
  gap: 16px;
}

.latest-kick-image-frame {
  padding: 8px;
  background-color: white;
  border-radius: 28px;
  height: 350px;
}

.latest-kick-image-frame > img {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  object-fit: cover;
}

.latest-kick-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: #232321;
  font-size: 24px;
  margin: 16px 0;
}

.new-tag {
  font-family: 'Rubik', sans-serif;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 58px;
  background-color: #4a69e2;
  height: 38px;
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;
  /* padding: 0 16px; */
  font-size: 12px;
  font-weight: 600;
  color: white;
}

.latest-kick-container > button {
  font-family: 'Rubik', sans-serif;
  border-radius: 8px;
  border: none;
  background-color: #232321;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
}

.latest-kick-button-span {
  margin-left: 4px;
}

.categories {
  background-color: #232321;
  margin-top: 100px;
  overflow-x: hidden;
}

.categories-header {
  background-color: #232321;
  margin-top: 100px;
  padding: 24px 60px;
  color: white;
  font-family: 'Inter', sans-serif;
  justify-content: space-between;
  font-size: 24px;
  gap: 4px;
}

.categories-label-container {
  padding: 0 60px;
  margin-top: 90px;
}

.categories-label {
  font-size: 74px;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}

.categories-nav {
  gap: 16px;
}

.categories-nav-button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
}

.categories-slides {
  padding-left: 60px;
  margin-top: 64px;
  overflow-x: auto;
}

.categories-slides::-webkit-scrollbar {
  display: none;
}

.categories-slide:last-child {
  margin-right: 60px;
  border-top-right-radius: 64px;
}

.categories-slide:first-child {
  border-top-left-radius: 64px;
}

.categories-slide:hover {
  background-color: #eceef0;
}

.categories-slide-header {
  padding: 0 16px;
  padding-top: 26px;
  visibility: hidden;
}

.show {
  visibility: visible !important;
}

.categories-slide-footer {
  margin-top: 20px;
}

.categories-slide-img {
  height: 279px;
  width: 480px;
  object-fit: cover;
}

.categories-slide-footer > p {
  font-size: 36px;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  width: 10%;
  text-transform: uppercase;
}

.categories-slide {
  background-color: white;
  padding: 30px 48px;
  width: 100%;
}

.categories-slide-link {
  width: 48px;
  height: 48px;
  background-color: #232321;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories-slide-size-header {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.chart {
  font-size: 14px;
  text-decoration: underline;
  font-weight: 500;
}

.categories-slide-sizes {
  gap: 6px;
  margin-top: 8px;
  margin-bottom: 60px;
}

.categories-slide-size {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: white;
  color: #232321;
  border-radius: 8px;
}

.size-grey {
  background-color: #d2d1d3;
  color: #8f8c91;
}
.size-black {
  background-color: #232321;
  color: white;
}

.reviews {
  gap: 16px;
}

.review {
  border-radius: 32px;
  width: 100%;
}

.review-header {
  background-color: white;
  padding: 32px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.review-title {
  font-size: 24px;
  font-weight: 600;
  color: #232321;
  font-family: 'Rubik', sans-serif;
}

.review-desc {
  font-size: 16px;
  color: #232321;
  font-family: 'Open Sans', sans-serif;
  margin: 8px 0;
  width: 80%;
}

.review-rating {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.review-avatar {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  object-fit: cover;
}

.review-image {
  height: 325px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 768px) {
  .reviews {
    flex-direction: column;
  }

  .latest-kicks {
    flex-direction: column;
  }

  .latest-header > p {
    font-size: 40px;
    padding: 0;
  }

  .latest-header > button {
    height: 40px;
    margin-top: 0;
  }

  .latest-header {
    align-items: center !important;
  }

  .review-desc {
    width: 95%;
  }

  .categories-header {
    margin-top: 0px;
    padding: 24px;
    font-size: 10px;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
  }

  .categories-header-label {
    display: none;
  }

  .categories-label-container {
    padding: 0 24px;
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .categories-label {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .categories-nav {
    gap: 16px;
    align-self: flex-end;
    margin-top: 24px;
  }

  .categories-slides {
    padding-left: 24px;
    margin-top: 14px;
    overflow-x: auto;
  }

  .categories-slide:last-child {
    margin-right: 24px;
  }

  .categories-slide-header {
    padding: 0 16px;
    padding-top: 16px;
    visibility: hidden;
  }

  .show {
    visibility: visible !important;
  }

  .categories-slide-footer {
    margin-top: 20px;
  }

  .categories-slide-img {
    height: 300px;
    width: 300px;
    object-fit: contain;
  }

  .categories-slide-footer > p {
    font-size: 24px;
  }

  .categories-slide-footer {
    padding-right: 30px;
  }

  .categories-slide {
    padding: 20px;
  }

  .categories-slide-link {
    width: 38px;
    height: 38px;
  }

  .categories-slide-sizes {
    margin-bottom: 30px;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .latest-kick-title {
    font-size: 20px;
  }

  .latest-header-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .latest-header-title > p {
    width: 100%;
  }
  .latest-header-title > button {
    width: 100%;
    height: 48px;
  }

  .banner-preview-container {
    display: none;
  }

  .banner-title {
    font-size: 40px;
  }

  .banner-desc {
    font-size: 20px;
  }

  .banner-desc-break {
    display: none;
  }

  .banner-info {
    padding-bottom: 16px;
  }

  .banner-label {
    padding: 18px;
    font-size: 12px;
    top: 20px;
    display: none;
  }

  .banner-dots {
    bottom: 10px;
    left: calc(50% - 46px);
  }

  .banner-container {
    height: 450px;
  }

  .banner {
    border-radius: 15px;
  }

  .banner > img {
    border-radius: 15px;
  }

  .banner-gradient {
    border-radius: 15px;
  }

  .banner-content {
    position: relative;
    z-index: 20 !important;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    height: 100%;
    box-sizing: border-box !important;
    padding-bottom: 32px;
  }

  .title {
    margin-bottom: 24px;
    font-size: 15vw;
  }

  .homepage {
    padding: 40px 0;
  }
}
